{% extends "layout.html" %}
{% block content %}
<div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create New Lesson</legend>
                <div class="form-group">
                    {{ form.name.label(class="form-control-label") }}
                    {% if form.name.errors %}
                        {{ form.name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        {{ form.startDate.label(class="form-control-label") }}
                        {% if form.startDate.errors %}
                            {{ form.startDate(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.startDate.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.startDate(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        {{ form.endDate.label(class="form-control-label") }}
                        {% if form.endDate.errors %}
                            {{ form.endDate(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.endDate.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.endDate(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-6">
                        {{ form.startTime.label(class="form-control-label") }}
                        {% if form.startTime.errors %}
                            {{ form.startTime(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.startTime.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.startTime(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        {{ form.endTime.label(class="form-control-label") }}
                        {% if form.endTime.errors %}
                            {{ form.endTime(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.endTime.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.endTime(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </div>
{#                <div class="form-group">#}
{#                    {{ form.email.label(class="form-control-label") }}#}
{#                    {% if form.email.errors %}#}
{#                        {{ form.email(class="form-control form-control-lg is-invalid") }}#}
{#                        <div class="invalid-feedback">#}
{#                            {% for error in form.email.errors %}#}
{#                                <span>{{ error }}</span>#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    {% else %}#}
{#                        {{ form.email(class="form-control form-control-lg") }}#}
{#                    {% endif %}#}
{#                </div>#}
                <div class="form-group">
                    {{ form.instructor.label(class="form-control-label") }}
                    {% if form.instructor.errors %}
                        {{ form.instructor(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.instructor.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.instructor(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.location.label(class="form-control-label") }}
                    {% if form.location.errors %}
                        {{ form.location(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.location.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.location(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
{#                <div class="form-group">#}
{#                    {{ form.organization.label(class="form-control-label") }}#}
{#                    {% if form.organization.errors %}#}
{#                        {{ form.organization(class="form-control form-control-lg is-invalid") }}#}
{#                        <div class="invalid-feedback">#}
{#                            {% for error in form.organization.errors %}#}
{#                                <span>{{ error }}</span>#}
{#                            {% endfor %}#}
{#                        </div>#}
{#                    {% else %}#}
{#                        {{ form.organization(class="form-control form-control-lg") }}#}
{#                    {% endif %}#}
{#                </div>#}
                <div class="form-group">
                    {{ form.type.label(class="form-control-label") }}
                    {% if form.type.errors %}
                        {{ form.type(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.type(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.level.label(class="form-control-label") }}
                    {% if form.level.errors %}
                        {{ form.level(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.level.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.level(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Please enter a valid entry.
        </small>
    </div>
{% endblock content %}