{% extends "layout2.html" %}
{% block content %}
    <div class="content-section">
        <div class="row">
            <div class="col-md-4">
                <h2>Profile Picture</h2>
            </div>
            <div class="col-md-8">
                <h2 class="list-group-item">Information</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h2>Classes Registered</h2>
                <!--if not registered for classes, show message, else show registered classes-->
                <h3>You are not registered for any classes</h3>
            </div>
        </div>
    </div>
{% endblock content %}